.content{
    width:800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: start;
    color: #fff ;
    background: rgba( 200, 200, 200, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 60, 160, 220, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 40px 150px;
 /* font-size: large; */
 
}